.image-frame {
    border-top: -20px solid white;
    border-bottom: 20px solid white;
  };

.card .card-title {
    padding-left: 80px !important;
    font-size: 24px !important;
    font-weight: 500 !important;
}
